li {
    list-style: none;
}

.navSideBar {
    width: 320px;
    height: 1020px;
    gap: 10px;
    position: sticky;
    font-family: 'Switzer Regular';
}

.active {
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: black;
    line-height: 23.76px;
}

.navbar {
    gap: 5px;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    font-weight: 300;
    color: #0000004D;
    font-size: 18px;
    line-height: 23.76px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.rectangle {
    width: 100%;
    background: #fff;
    height: 230px;
}

.navbar li {
    cursor: pointer;
    width: 100%;
    height: 142.5px;
    text-align: center;
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.logoArea {
    width: 100%;
    height: 200px;
    gap: 10px;
    display: flex;
    align-items: center;
    background: #fff;
    cursor: pointer;
    justify-content: center;
}